@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
* {
  font-family: 'Quantico', sans-serif;
}

html {
  background: linear-gradient(to left, #3106f3, #09e766);
  box-sizing: border-box;
}
.todo {
  display: flex;
  flex-direction: column;
  width: 500px;
  float: right;
  gap: 42px;
}
aside {
  float: right;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.whole-todo {
  position: absolute;
  top: 200px;
  left: 650px;
}
#checkBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
#checkBtn:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 5px rgba(45, 240, 6, 0.514);
}
.check {
  margin-right: 10px;
}
.head {
  display: inline-block;
  position: absolute;
  left: 800px;
  margin-top: 70px;
  color: wheat;
  box-shadow: 0px 0px 5px 1px black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}
.save-btn {
  position: absolute;
  left: 570px;
  display: flex;
  gap: 43px;
}
.btn {
  padding: 10px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.delete-btn {
  position: absolute;
  left: 700px;
  display: flex;
  gap: 43px;
}
.list {
  height: 40px;
  font-size: 30px;
  border-radius: 20px;
  background: transparent;
  transition: all 0.2s;
  border: 1px solid white;
  display: flex;
}

.list:focus {
  box-shadow: 0px 0px 20px 5px rgba(245, 245, 220, 0.514);
}
.btn:hover {
  transform: translateY(-5px);
  color: rgb(23, 212, 33);
  font-size: 110%;
}
.delete-button:hover {
  color: rgb(238, 14, 14);
}
@media only screen and (max-width: 720px) {
  html,
  body {
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
  .todo {
    position: absolute;
    right: 400px;
    width: 200px;
    margin: 0;
  }
  .head {
    left: 30px;
  }
  .check {
    position: absolute;
    right: 600px;
  }
  #checkBtn {
    width: 100%;
  }
  .list {
    font-size: 20px;
  }
  .delete-btn {
    position: absolute;
    left: -340px;
    display: flex;
    gap: 64px;
  }
  .save-btn {
    position: absolute;
    left: -390px;
    display: flex;
    gap: 64px;
  }
  .btn {
    padding: 1px;
    width: 120%;
  }
  .btn:hover {
    /* transform: translateY(0px); */
    font-size: 80%;
  }
}
.line-through {
  text-decoration: line-through;
}
